* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    background-image: url('../img/fluid2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#banner {
    width: 100%;
    height: auto;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

nav {
    float: left;
    width: 25%;
    padding: 1rem;
    background-color: #f7f7f7;
    border-right: 1px solid #e7e7e7;
    height: calc(100vh - 300px);
    overflow-y: auto;
    position: sticky;
    top: 0;
}

nav h2 {
    margin-bottom: 1rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 0.5rem 0;
    cursor: pointer;
}

nav li:hover {
    color: #007bff;
    text-decoration: underline;
}

main {
    float: left;
    width: 75%;
    padding: 1rem;
}

button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#conversation-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: white;
    z-index: 1;
    overflow-y: auto;
    padding: 1rem;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  }

#conversation-container p {
    margin-bottom: 8px;
    display: block;
    clear: both;
}

#conversation-container p strong {
    font-weight: 600;
    display: block;
}

#conversation-container p:nth-child(odd) strong {
    color: #007bff;
}

#conversation-container p:nth-child(even) strong {
    color: #333;
}

#conversation-container pre {
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
}

#close-conversation {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 4rem;
    cursor: pointer;
    z-index: 9999;
}

#close-conversation:hover {
    color: gray;
    
}


#conversation-iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #e7e7e7;
}

#code-container {
    height: 600px;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #020202;
    max-width: 80%;
    background-color: white;
    opacity: 0.5;
}

.title-container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.title-container h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.github-link {
    /* position: absolute;
    top: 1rem;
    right: 1rem; */
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
}

.github-link img {
    width: 70%;
    height: 70%;
}


@media (max-width: 991px) {
    nav {
        width: 100%;
        height: auto;
        position: static;
        border-right: none;
    }

    main {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #conversation-container {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .title-container h1 {
      font-size: 1.5rem;
    }
    .title-container h2 {
      font-size: 1rem;
    }
  }