body {
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
  }
  
  #gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #userManagement {
    flex: 1 1 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    max-width: 300px;
  }
  
  #gameBoard {
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    width: 100%;
    height: 100%;
  }
  
  #snake {
    background-color: black;
    margin: auto;
  }
  
  button {
    display: block;
    margin-top: 10px;
  }
  
  @media screen and (min-width: 600px) {
    #gameContainer {
      flex-direction: row;
    }
    #userManagement {
      flex: 1;
      border-right: 1px solid white;
    }
    #gameBoard {
      flex: 2;
      border-left: 0;
      max-width: 544px;
    }
  }
  

  @media (max-width: 600px) {
    #gameBoard {
      max-width: 300px;
    }
  }